VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_PORT=5179
VITE_API_BASE_PATH=/wr-api

OPENAI_API_KEY=
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_MODEL_NAME=qwen-turbo
API_BASE_PATH=/wr-api
API_PORT=3001
PORT=3001
